<h3>Bill List</h3>
<hr>
<div class="flex-between">
    <a asp-controller="home" asp-action="index">Go Back</a>
    <a class="button primary" asp-controller="bills" asp-action="new">New Bill</a>
</div>
<table class="table-bills">
    <thead>
        <tr>
            <th>Title</th>
            <th>Due Day</th>
            <th>Ref Month</th>
            <th>Recurrent</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>blablabalbal blabalblal</td>
            <td>10</td>
            <td>Dec</td>
            <td>Yes</td>
            <td>
                <a href="#">Edit</a>
                <span>/</span>
                <a href="#">Delete</a>
            </td>
        </tr>
        <tr>
            <td>blablabalbal blabalblal</td>
            <td>10</td>
            <td>Dec</td>
            <td>Yes</td>
            <td>
                <a href="#">Edit</a>
                <span>/</span>
                <a href="#">Delete</a>
            </td>
        </tr>
    </tbody>
</table>