@font-face {
    font-family: InterRegular;
    src: url('../fonts/inter/static/Inter-Regular.ttf');
}

@font-face {
    font-family: OperatorMono;
    src: url('../fonts/operator-mono/Operator\ Mono\ Extra\ Light\ Nerd\ Font\ Complete.otf');
}

@font-face {
    font-family: SFProDisplay;
    src: url('../fonts/sf-pro-display/SF-Pro-Display-Regular.otf');
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-family: 'InterRegular';
}

a {
    text-decoration: none;
    font-weight: 600;
    color: rgb(40, 113, 207);
}

h3 {
    padding: 10px 0;
}

hr {
    margin-bottom: 5px;
}

label {
    user-select: none;
}

textarea,
input {
    padding: 6px 10px;
}

select {
    padding: 5px 10px;
}

input[typpe="text"],
input[typpe="number"],
input,
select,
textarea {
    border: 1px solid #dcdcdc;
    font-size: 1em;
    border-radius: 5px;
    margin: 0 0 10px 0;
}

form > div {
    display: flex;
}

/* form .form-bottom {
    display: flex;
    justify-content: center;
    gap: 5px;
} */

.w100 { width: 100%;}
.w75 { width: 75%;}
.w50 { width: 50%;}
.w30 { width: 30%;}
.w25 { width: 25%;}

.txt-center {
    text-align: center;
}

.flex {
    display: flex;
    align-items: center;
    gap: 5px;
}

.flex-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.checkbox {
    display: flex;
    align-items: center;
    margin: 2px 0 10px 0;
}

.checkbox input {
    margin: 0 5px 2px 0;
}

.button {
    background: #b8b8b8;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    color: white;
    font-size: .95em;
    font-weight: 600;
    text-decoration: none;
    padding: 7px 30px;
    /* margin: 6px 0; */
    cursor: pointer;
}

.secondary {
    background: #b8b8b8;
    color: white;
}

.primary {
    background: rgb(40, 113, 207);
    color: white;
}

.container {
    background: transparent;
    height: 100vh;
    padding: 15px 0;
}

.container .box {
    background: whitesmoke;
    width: 50%;
    margin: 0 auto;
    border-radius: 5px;
    padding: 10px 15px;
}

.table-bills {
    width: 100%;
}

.table-bills th {
    color: darkgray;
    border-bottom: 1px solid gray;
    padding: 4px 0;
}

.table-bills td {
    padding: 2px 0;
}

.table-bills tr th:first-child,
.table-bills tr td:first-child {
    text-align: left;
}

.table-bills tr th,
.table-bills tr td {
    text-align: center;
}